.homepage {

    &__sect1 {
        width: 100%;
        height: calc(180dvh + 40px);
        //height: calc(180vh + 60px );
        display: flex;
        flex-direction: row;
        padding: 8vh 3vw;
        //margin: 0 0 5vh 0;
        justify-content: space-between;
        background-color: #FFF5E2;
        position: relative;
        z-index: 4;

        &--bgImg {
            background-image: url(../assets/img/fondPapierBig.jpg);
            background-position: center;
            background-size: cover;
            object-fit: cover;
            background-repeat: no-repeat;
            height: auto;




        }


    }

    &__boxContent{
        display: flex;
        flex-direction: column;
       // flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: auto;
        padding: 17vh 3vw 0;
        column-gap: 3vw;
        align-items: center;

        &--reverse{
            flex-direction: column;
            padding: 17vh 3vw 2vh 10vw;
            // margin: 15vh 0 0 0;
            background-image: url(../assets/img/fondPapierBig.jpg);
            background-position: center;
            background-size: cover;
            object-fit: cover;
            background-repeat: no-repeat;

        }
        
    }&__imgBox{
        width: calc(100%);
        height: 70%;
        max-height: 500px;
        object-fit:cover;
        // margin:  0vh 0 0 0vw;
        // padding: 0 2vw 0 5vw ;
        // border-radius: 20px;
       //border: 3px solid red;
       :nth-child(1){
        border-radius: 20px 0 0 20px;
       }
       :nth-child(2){
        border-radius: 0 20px 20px 0;
       }

    }
    &__boxTxt{
        width: 100%;
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        //border: 3px solid blue;
        
    }
    &__colTxt{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: -16vh 0 0 0;
    }
    &__boxImgRow{
        width: 100vw;
        display: flex;
        flex-direction: row;
    }
}


@media(min-width:600px) {
    .homepage {

        &__sect1 {
            width: 100%;
            height: calc(100vh + 40px);



        }
        &__boxContent{

            &--reverse{
                flex-direction: row-reverse;
            }
        }
        &__imgBox{
            width: calc(100% + 6vw);
            
    
        }
        &__colTxt{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: -16vh 0 0 0;
        }
        &__boxTxt{
            height: 84vh;

            
        }
    }
}