.homepage {

    &__sect1 {
        width: 100%;
        height: calc(180dvh + 40px);
        //height: calc(180vh + 60px );
        display: flex;
        flex-direction: row;
        padding: 8vh 3vw;
        //margin: 0 0 5vh 0;
        justify-content: space-between;
        background-color: #FFF5E2;
        position: relative;
        z-index: 4;

        &--bgImg {
            background-image: url(../assets/img/fondPapierBig.jpg);
            background-position: center;
            background-size: cover;
            object-fit: cover;
            background-repeat: no-repeat;
            height: auto;




        }


    }
}


@media(min-width:600px) {
    .homepage {

        &__sect1 {
            width: 100%;
            height: calc(100vh + 40px);



        }
    }
}