.adventure {
  &--overflow {
    overflow-x: hidden;
  }

  &--client {
    padding: 10vh 0 0 0;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    background-color: #1d1d1d;
  }

  &__imgBox {
    width: 100%;
    height: 70vh;

    &--small {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: #fff5e2;
      padding: 2vh 2vw;
      border: 2px solid #1d1d1d;
    }

    &--animClose {
      animation: animCloseBoxDroite 2s both;
    }
    overflow: hidden;
  }

  &__boxDroite {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding: 9vh 3vw;

    &--full {
      width: 100%;
      padding: 6vh 0 0 0vw;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 1;
    padding: 10% 30% 0 0;
    box-sizing: border-box;

    &--noData {
      padding: 0;
    }
  }

  &__boxTitle {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  &__decorTitle {
    position: absolute;
    left: 70%;
    top: 20px;
    //z-index: -2;
  }

  &__listLien {
    width: 100%;
    min-height: 41px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 12px;
  }

  &__link {
    font-family: "JosefinVariable";
    font-weight: 800;
    font-size: 21px;
    line-height: 130%;
    color: #fff5e2;
    padding: 6px 12px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: #f9b949;
      font-family: "JosefinVariableItalic";
      transition: 0.3s;
    }

    &--actif {
      color: #f9b949;
      transition: 0.3s;
    }
  }

  &__SliderBox {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #000;
    margin: 38px 0 0 0;
    overflow: hidden;
    position: relative;
  }
  &__colBox {
    width: 100%;
    height: 60%;
  }
  &__linkBox {
    color: #1d1d1d;
    width: 100%;
    height: 40%;
    //border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;

    & > p {
      text-align: center;
      font-size: 21px;
      font-family: "JosefinVariableItalic";
      transition: 0.3s;
      margin: 0 0 0px 0;
    }

    & > img {
      padding: 0;
    }

    &:hover {
      & > p {
        color: #f9b949;
        transition: 0.3s;
        transform: translateX(-20%);
      }
    }
  }
  &__boxImg {
   width: 100%;
   height: 60vh;

   &>p{
    font-size: 28px;
   }
   &>img{
    object-fit: contain;
   }
    &:hover {
      cursor: grabbing;
      transition: 0.2s;
      & > img {
        scale: 1.2;
        transition: 0.3s;
      }
    }
  }
}

@media (min-width: 600px) {
  .adventure {
    &--client {
      padding: 10vh 0 0 0;
      flex-direction: row;
      height: 100vh;
    }

    &__boxDroite {
      width: 60vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      //align-items: center;
      padding: 20vh 8vw 0 10vw;

      &--full {
        width: 100vw;
        height: 100vh;
        padding: 0vh 0 0 0;
        margin: 0 0 0 -30vw;
      }
    }

    &__decorTitle {
      left: 540px;
      z-index: -2;
    }

    &__imgBox {
      width: 40vw;
      height: 100%;

      &--small {
        width: 30vw;
        height: 80vh;
        margin: 18vh 0;

        position: sticky;
        top: 5vh;
        z-index: 4;
      }
    }

    // &__boxDroite {
    //     height: 100%;
    //     padding: 9vh 3vw;

    //     &--full {
    //         width: 75vw;
    //         padding: 2vh 0 0 4vw;
    //     }
    // }
    &__SliderBox {
      height: 100%;
      margin: 51px 0 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4vh 1vw 0 30vw;
    }

    &__imgSlider {
      cursor: grab;
      height: 400px;
      aspect-ratio: 2/3;
      object-fit: cover;
      user-select: none;
      pointer-events: none;
    }
    &__boxImg {
      cursor: grab;
      transition: 0.2s;
      &>p{
        font-size: 2vw;}
      & > img {
        transition: 0.3s;
      }
      &:hover {
        cursor: grabbing;
        transition: 0.2s;
        & > img {
          scale: 1.2;
          transition: 0.3s;
        }
      }
    }
    &__linkBox {
      margin: 0;
      & > p {
        margin: 0;
      }
    }
    &__listLien {
      height: 100px;

      position: sticky;
      top: 6.5vh;
      //border: 2px solid red;
      padding: 10px 0 0 30vw;
    }

    &__link {
      font-size: 38px;
    }
  }
}
