

.sect{
    &__btn{
        padding: 16px 80px;
        font-family: "JosefinVariable";
        font-size: 21px;
        font-weight: 600;
        color: #FFF5E2;
        cursor: pointer;
        border: none;
        background-color: inherit;
        transition: 0.6s;
        margin: 5vh 0 0 0 ;
        display: inline-block;
        &:hover{
            background-color: #1d1d1d;
            color:  #FFF5E2;
            transition: 0.3s;
            font-family: 'JosefinVariableItalic';
            font-weight: 400;
        }
    }
}