@font-face {
  font-family: "JosefinVariableItalic";
  src: url(../assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "JosefinVariable";
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face{
  font-family: "Druzokh";
  src: url(../assets/fonts/DRUZHOK.otf);
}

.sect {

  &__title {
    font-family: "JosefinVariable";
    font-weight: 600;
    line-height: 110%;
    //font-size: 91px;
    font-size: 10dvw;
    &--2{
      //font-size: 2.8dvw;
      font-size: 51px;
    }

    &--ecart{
      margin: 0 0 38px 0;
    }
    &--italic{
      font-family: 'JosefinVariableItalic';
    }
    &--medium{
      font-weight: 500;
    }
    &--margeLeftMin{
      margin: 0 0 0 -10px;
    }
    &--lineHSmall{
      line-height: 90%;
    }
    &--thin{
      font-weight: 300;
    }
    &--margeColDr{
      margin: 91px 0 51px;
    }
    &--big{
      font-size: 10vw;
    }
    &--white{
      color: #FDF2DE;
      
    }
    &--link{
      transition: 0.3s;
      &:hover{
        color: #F9B949;
        font-weight: 600;
        transition: 0.3s;
      }
    }
    &--druzokh{
      font-family:"Druzokh";
     
    }
    

  }

  &__txt {
    font-family: 'JosefinVariable';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    //color: #000000;
    max-width: 68ch;
    display: inline-block;
    &--italic{
      font-family: 'JosefinVariableItalic';
    }
    &--thin{
      font-weight: 300;
      line-height: 150%;
    }
    &--ecart{
      margin: 28px 0 0 0 ;

    }
    &--big{
      font-size: 120px;

    }
    &--jaune{
      color: #F9B949;
    }
    &--smallLength{
      width: clamp(32ch, 37ch, 40ch);
    }
    &--ecartnv2{
      margin: 51px 0 0 0 ;
    }
    &--margeRight{
      margin: 0 0 0 5vw;
    }
    &--margeTop{
      margin: 4vh  0vw;
    }
   &--bold{
    font-weight: 700;
   }
    
  }
}

::-moz-selection { /* Code for Firefox */
  color: #1d1d1d;
  background: #F9B949;
}

::selection {
  color: #1d1d1d;
  background: #F9B949;
}

@media(min-width:600px){

  .sect{
    &__title{
      font-size: 3dvw;
      &--druzokh{
        font-family:"Druzokh";
        font-size: 10dvw;
        text-align: center;
        opacity: 0.7;
      }
    }
    &__txt{
      font-size: 21px;
      &--smallLength{
        width: 40ch;
      }
      &--margeTop{
        margin: 20vh 0 0 3vw;
      }
     
    }
  }
}