@font-face {
  font-family: "JosefinVariableItalic";
  src: url(../assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "JosefinVariable";
  src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Druzokh";
  src: url(../assets/fonts/DRUZHOK.otf);
}

.sect {

  &__title {
    font-family: "JosefinVariable";
    font-weight: 600;
    line-height: 110%;
    //font-size: 91px;
    //font-size: 10dvw;
    font-size: 8dvw;

    &--2 {
      //font-size: 2.8dvw;
      font-size: 28px;
    }

    &--ecart {
      margin: 0 0 38px 0;
    }

    &--italic {
      font-family: 'JosefinVariableItalic';
    }

    &--medium {
      font-weight: 500;
    }

    &--margeLeftMin {
      margin: 0 0 0 -10px;
    }

    &--lineHSmall {
      line-height: 90%;
    }

    &--thin {
      font-weight: 300;
    }

    &--margeColDr {
      margin: 91px 0 51px;
    }

    &--big {
      font-size: 10vw;
      line-height: 180%;
    }

    &--white {
      color: #FDF2DE;

    }

    &--link {
      transition: 0.3s;

      &:hover {
        color: #F9B949;
        font-weight: 600;
        transition: 0.3s;
      }
    }

    &--druzokh {
      font-family: "Druzokh";

    }


  }

  &__txt {
    font-family: 'JosefinVariable';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    //color: #000000;
    width: 100%;
    // max-width: 18ch;
    display: inline-block;

    &--italic {
      font-family: 'JosefinVariableItalic';
    }

    &--thin {
      font-weight: 300;
      line-height: 150%;
    }

    &--ecart {
      margin: 28px 0 0 0;

    }

    &--big {
      font-size: 120px;

    }

    &--jaune {
      color: #F9B949;
    }

    &--smallLength {
      width: clamp(32ch, 37ch, 40ch);
    }

    &--ecartnv2 {
      margin: 51px 0 0 0;
    }

    &--margeRight {
      margin: 0 0 0 5vw;
    }

    &--margeTop {
      margin: 4vh 0vw;
    }

    &--bold {
      font-weight: 700;
    }

    &--white {
      color: #FDF2DE;

    }

    &--japTxt {
      font-size: 20vw;
    }

    &--link{
      text-align: center;
      padding: 12px 28px ;
      font-size: 21px;
      font-weight: 800;
      transition: 0.6s;
      cursor: pointer;

      &:hover{
        transition: 0.3s;
        background-color: #F9B949;

      }
    }

  }
}

::-moz-selection {
  /* Code for Firefox */
  color: #1d1d1d;
  background: #F9B949;
}

::selection {
  color: #1d1d1d;
  background: #F9B949;
}

@media(min-width:600px) {

  .sect {
    &__title {
      font-size: 3dvw;

      &--2{
        font-size: 51px;
      }

      &--druzokh {
        font-family: "Druzokh";
        font-size: 10dvw;
        text-align: center;
        opacity: 0.9;
      }

      &--bigSolo {
        font-size: 8dvw;

      }
      
    }

    &__txt {
      font-size: 18px;
      
      line-height: 160%;
       width: 100%;
       //max-width: 80ch;

      &--smallLength {
        width: 40ch;
      }

      &--margeTop {
        margin: 20vh 0 0 3vw;
      }

      &--japTxt {
        font-size: 10vw;
      }


    }
  }
}