.hori {

    &__box {
        width: 200vw;
        height: 110vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 2vh 5vw;
        background-color: #FDF2DE;
        position: relative;
        scroll-snap-align: start;

        &--black {
            background-color: #000;
            z-index: 8;
            padding: 1vh 0;

            &>h1,h2,p{
                color: #FDF2DE;
            }
        }

        &--motif {
            width: 320vw;
            padding: 2vh 0;
        }



    }

    &__contenut {
        display: inline-block;

    }

    &__rowContainer {
        display: flex;
        flex-direction: row;
        //flex-direction: column;
        width: 800vw;
        height: 100vh;
        // border: 3px solid red;
        overflow-y: hidden;
        //transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
        background-color: #000;
        position: relative;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
        scroll-behavior: smooth;

        &--white {
            background-color: #FDF2DE;
        }

        &--artiste {
            transform: rotate(90deg) translateY(-100vh);
            //flex-direction: row;
        }

        &--motif {
            width: 1100vw;
        }


    }

    &__img {
        width: 100%;
        max-width: 850px;
        height: 37vh;
        object-fit: cover;
        //border-radius: 20px 10px 20px 3px;
        border-radius: 3px;
        &--change {
            animation: changeImgColG 2s;
            cursor: pointer;
        }


    }

    &__colGaucheImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 2vw;
        width: 60%;
        overflow: hidden;

    }

    &__colDroite {
        width: 90vw;

        &--white {
            color: #FDF2DE;

            &>p {
                color: #FDF2DE;
            }
        }
    }

    &__hirondelle {
        scale: 0.4;
        position: absolute;
        z-index: 2;
    }
}

::-webkit-scrollbar {
    display: none;
}


@media(min-width:900px) {
    .hori {

        &__box {
            width: 100vw;
            height: 110vh;
            flex-direction: row;
            justify-content: center;
            padding: 2vh 5vw;

            //border: solid red 5px;
            &--motif {
                width: 660vw;
                padding: 2vh 5vw 0 0;
            }

            &--smallW {
                width: 80vw;
                
            }

            &--bigW {
                width: 150vw;
            }
            &--bigHeight{
                height: 130vh;
            }
            &--black {
                background-color: #000;
                z-index: 8;
                //padding:  0;
    
                &>h1,h2,p{
                    color: #FDF2DE;
                }
            }
            &--changeMap{
                width: 370vw;
            }




        }

        &__grid {

            display: grid;
            grid-template-columns: 2.8fr  1fr;
            row-gap: 2vh;
            grid-template-rows: 85vh 15vh 80vh;
            grid-template-areas:
                "i1    ."
                "i1   h1"
                "b1   b1";
            position: relative;
            width: 100%;
            height: 180vh;
            //border: blue solid 2px;

            &--title{
                transform: translateX(-10vw) translateY(20px);
                padding: 42px 20px ;
                background-color: #000;
                position: relative;
                z-index: 4;
            }
            &--big{
                height: 190vh;
                grid-template-rows: 85vh 15vh 90vh;
            }
        }

        &__colMedium {
            width: 100%;
            height: 80vh;
            display: flex;
            flex-direction: row;
            padding: 0 5vw ;
            position: relative;

            &>p{
                padding: 10vh 0 0 5vw;
                //max-width: 68ch;
            }

        }

        &__rowContainer {
            flex-direction: row;
            //flex-direction: column;

            width: 400vw;
            height: 110vh;

            &--motif {
                width: 500vw;
            }

        }

        &__img {
            width: 100%;
            max-width: 1250px;
            //height: 80vh;
            height: 100vh;
            aspect-ratio: 3/2;

            &>p {
                width: 70%;
                padding: 3vh 0 0 3vw;
               
            }

            &--grid {
                height: 100%;
                width: 100%;
                object-fit: cover;
                aspect-ratio: none;
            }

            &--small {
                height: 40vh;
                aspect-ratio: 1/4;
                transform: translateY(-15vh);
                position: sticky;
                top: 18vh;
                
            }
            &--full{
                max-width: 100%;
                height: 100%;

            }


        }

        &__colGaucheImg {
            margin: 0 2vw;
            width: 75%;

            &--marginNone {
                margin: 0 2vw 0 0;
            }
            &--full{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 120%;
                margin: 0;
                padding: 0;
            }

        }

        &__colDroite {
            width: 25%;

            &--full{
                width: 50%;
                position: relative;
                right: 0;
                z-index: 1;
                background-color: #FDF2DE;
                height: calc(80% + 4vh);
                margin: 0vh -20vw 0 50%;
                padding: 4vh 10vw 4vh 2.5vw;
                &>p{
                    width: 100%;
                }
            }
        }
    }
}


.i1{
    grid-area: i1;
}
.b1{
    grid-area: b1;
}
.h1{
    grid-area: h1;
}