.sect {

    &__listMapMob {
        width: 100%;
        //height: clamp(140vh, 1400px, 160dvh);
        height: clamp(1500px, calc(170vh + 60px), 2000px);
        //background-color: red;
        padding: 10vh 3vw;


    }
}

.listMapMob {

    &__boxTitle{
        width: 100%;
        margin: 38px 0 6vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5vw;
    }
    &__titleBig{
        font-size: 8.5dvw;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 8vh;

    }

    &__el {

        width: 100%;
        height: 120px;

        &:nth-child(2n) {
            flex-direction: row-reverse;
           // background-color: blue;
           nav{
            flex-direction: row-reverse;
           }
        }



    }

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }

    &__img {
        height: 100%;
        width: 44%;
        object-fit: contain;
    }

    &__title {
        font-size: 5vw;
        padding: 74px 0 0 0;
        text-align: end;
        color: #000000;
    }
}