.nav {
    width: 100%;
    padding: 14px 3vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    &--mobile {
        //background-color: #e2cc9f;
        background-image: url(../assets/img/oldSchool/fondPeauNoir.jpg);
        background-position: center;
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
    }

    &__box {
        width: 40%;
        height: 100%;
    }

    &__list {

        display: none;


        &--close {
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url(../assets/img/oldSchool/fondPeauNoir.jpg);
            background-position: center;
            background-size: cover;
            object-fit: cover;
            background-repeat: no-repeat;
       
            width: 100vw;
            height: 100dvh;
            background-color: #e2cc9f;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 30vh 0;
            font-size: 8vw;
            font-family: "JosefinVariable";
            font-weight: 400;
            animation: openNavLink 3s both;
            }//

    }

    &__el {
        color: #FDF2DE;
    }

    &__a {
        color: inherit;
        padding: 8px 14px;

        &:hover {
            color: #F9B949;

            transition: 0.3s;
        }
        &--active{
            color: #F9B949;
            transition: 0.3s;
        }
    }

    &__logo {
        font-size: 21px;
        font-family: "JosefinVariable";
        color: #FDF2DE;
        &>span{
            font-size: inherit;
        }

    }

    &__btn {
        width: 38px;
        height: 23px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: transparent;
        border: none;
        transition: 0.8s;

        &--close {
            transition: 0.3s;
            transform: translateX(35vw);
        }

    }

    &__btnBarre {
        width: 100%;
        height: 20%;
        background-color: #FDF2DE;
        border-radius: 3px;
        transform-origin: 50% 50%;
        transition: 0.6s;

        &:nth-child(2) {
            width: 60%;

            transition: 0.4s;
        }

        &--close {
            transition: 0.6s;

            &:nth-child(1) {
                transform: translateY(10px) rotate(45deg);
            }

            &:nth-child(2) {
                transform: scale(0);
            }

            &:nth-child(3) {
                width: 60%;
                transform: translateY(-10px) rotate(-45deg);
            }
        }
    }
    &__modalMusic{
        width: 90vw;
        height: 30vh;
        border-radius: 5%;
        background-color: #FDF2DE;
        color: #1d1d1d;
        padding: 5vh 5vw;
        position: fixed;
        top: 2vh;
        left: 5vw;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__btnMusic{
        background-color: transparent;
        border: none;
        color: #1d1d1d;
        padding: 12px 18px; 
        font-family: 'JosefinVariableItalic';
        font-size: 21px;
        cursor: pointer;
        display: inline-flex;
        height: 100%;
        transition: 0.3s;

        &:hover{
            transition: 0.6s;
            color: #F9B949;
            &>span{
                transition: 0.6s;
                background-image: url(../assets/img/svg/spotifyJaune.svg);
            }
        }
    }
}


/// la modale
.modal{
    &__title{
        margin: 10% 0 0 0;
        font-size: 7dvw;
    }

    &__spotify{
        width: 100%;
        height: 56px;
        display: flex;
        flex-direction: row;
        padding: 2vh 0vw;


    }

    &__link{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        //padding: 5% 15%;
        background-color: #F9B949;
        color: #1d1d1d;
        font-size: 21px;
        transition: 0.6s;
        width: 100%;
        min-height: 56px;
        height: 100%;
        text-align: center;
        cursor: pointer;

        &:hover{
            background-color: #e2cc9f;
            font-family: 'JosefinVariableItalic';
            transition: 0.3s;
        }
    }
    &__linkLogo{
        width: 30px;
        height: 30px;
        background-image: url(../assets/img/svg/spotify.svg);
        background-position: center;
        background-repeat: no-repeat;
        object-fit: contain;
        margin: -2px 0 0 10px;
        

    }
}


@media (min-width:900px) {


    .nav {

        top: 0;
        bottom: auto;
        background-color: #cabca110;
        //height: 80px;

        // &>nav{
        //     height: 100%;

        // }

        &--mobile{
            //background-color: #e2cc9f;
            background-image: url(../assets/img/fondPapierBig.jpg);
            align-items: flex-end;
        }
        &__list {
            //visibility: visible;
            //opacity: 1;3
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            column-gap: 38px;
            font-family: "JosefinVariable";
            font-size: 21px;

            font-weight: 400;

        }

        &__el{
            color: #1d1d1d;
        }


        &__btn {
            display: none;
        }

        &__logo {
            color: #1d1d1d;
        }


        &__modalMusic{
            width: 25vw;
            max-width: 400px;
            min-height: 150px;
            height: 15vh;
            border-radius: 5%;
            padding: 2vh 2vw;
            top: 2vh;
            left: 30vw;
        }
    }

    // modale
    .modal{
        &__title{
            margin: 2% 0 0 0;
            font-size: 1dvw;
        }

        &__cancelBtn{
            width: 30px;
            height: 30px;
    
        &>span{
            width: 25px;
        } 
        }
    }
}