.sect {

    &--row{
        display: flex;
        flex-direction: row;
    }
    &--heigth100{
        height: 100vh;
        width: 100vw;
    }
    &--japInter{
        background-image: url('../assets/img/japan/japanPatern.svg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }
    &__interColor{
        background-image: url('../assets/img/japan/japanPatern.svg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        height: 50vh;

        &--oldSchool{
            background-image: url("../assets/img/svg/oldSchool/paternOldSchool.svg");
            background-size: contain;
            

        }
    }
    &--snap{
        scroll-snap-type: y mandatory;
    }
    &__changePage{
        height: 20vh;
        background-color: #FFF5E2;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -20;
        &--close{
            animation:animeChangePage 4s both;
        }
    }
&--homeAD{
   
    padding: 5vh 0;
}
    &__boxImg {
        width: min(1200px, 100%);
        height: calc(100vh - 70px);
        // border-top: 6px solid #1d1d1d;
        // border-right: 6px solid #1d1d1d;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
        position: relative;
        z-index: 2;
        &--big{
            width: 100vw;
            background-image: url('../assets/img/homeImg.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 10vh 5vw;
            color: #FFF5E2;
        }

    }

    &__boxTxt {
        // max-width: 500px;
       
        height: 100%;
        width: clamp(500px, 25vw, 100%);
        margin: 3cqh 0 0 -5vw;
        position: relative;
        z-index: 4;
        
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__map {
        height: 140vh;
        width: 100%;
        display: block;
        z-index: 3;
        margin: 20vh 0 0 0;
        padding: 10vh 0 0 0;
        position: relative;
        //border: 2px solid black;
    }

    &__boxTitle {

        &--home{
            width: 500px;
        height: 140px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 3vw;
        z-index: 0;
        }
        width: 50vw;
        height: 140px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    &__titre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        
    }
    &__imgDecor{
        width: 689px;
        height: 857px;
        &--marginLeftMin{
            margin: 0 -120px 0 0 ;
        }
        &--min{
            width: 488px;
            height: 607px;
        }
        &--rotateY{
            transform: rotateY(180deg);
        }
        &--spaceLeft{
            margin: 26vh 8vw 0 0 ;
        }
    }
    &__boxIntro{
        padding: 0 5vw 0 0;
        align-items: center;

        &--minHeigt{
            margin: -250px 0 0 0 ;
        }
    }
    &__firstContenut{
        padding: 0 5vw 0 0;
        width: 100%;
        height: 100vh;
        
    }

    &__colGauche{
        width: 65%;
        height:100vh;
        //background-color: red;
        padding: 5vh 2vw ;
        
    }
    &__colDroite{
        width: 35%;
        height: 100%;
    }
    &__imgHirondelle{
        width: 410px;
        fill: #FFF5E2;
        position: relative;
        z-index: 2;
        &>g>path{
            fill: #FFF5E2;
        }
        &>g>g>path{
            fill: #FFF5E2;
        }

    }
    &__artiste{
        width: 102vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-x: hidden;
        margin: 0vw 0 0  0;
        scroll-snap-align: start;
  scroll-snap-stop: normal;
        // background-color: red;
    }
    &__motif{
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-x: hidden;
    }

    &__attente{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__nameBigBox{
        width: 100%;
        height: 100vh;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF5E2;
        font-size: 120px;
        margin: -55vw 0 0 0;
        &--fondImg{
            background-image: url('../assets/img/oldSchool/fondPeauNoir.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            background-attachment: fixed;
        }
        &--fondImgJap1{
            background-image: url('../assets/img/japan/irezumiBack2.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            background-attachment: fixed;
        }
    }

    &__illu{
        display: flex;
        flex-direction: row;
        height: 70vh;
        width: 100%;
        margin: 10vh 0;
    }
}

.map {

    &__box {
        width: 100%;
        height: 100%;
    }

    &__map {}

    &__state {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transition: 0.6s;
            fill: #1d1d1d;
        }
    }

    &__boxName {
        width: 50vw;
        height: 60px;
        border-radius: 10px 10px 0 0;
        background-color: #F9B949;
        position: fixed;
        z-index: 0;
        bottom: 0;
        left: 25%;
        font-family: "JosefinVariable";
        font-weight: 600;
        line-height: 110%;
        font-size: 28px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
       // box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
    }
}


@keyframes animeChangePage{
    0%{
        z-index: 20;
    }
    40%{
        background-color: #F9B949;
    }
    60%{
        height: 160vh;
        background-color: #F9B949;
    }
    to{
        height: 100%;
        transform: translateY(-200%);
        background-color: #FFF5E2;
        z-index: 20;
    }
}