

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  
}

body{
  background-color: #FFF5E2;
  overflow-x: hidden;

}

.App{
  min-height: 100dvh;
  &--hidden{
    height: 100vh;
    overflow: hidden;
  }
}

p{
  max-width: 85ch;
}